.container {
    display: flex;
    justify-content: center;
    align-items: center;
  
    height: 100vh;
    background:  #030303;
    color: #FFFFFF;
}

.header {
    font-size: 22px;
    font-family: Poppins;
    color: #FFFFFF;
    margin-bottom: 0px;
}

.graphcontainer{
    max-width: 400px;
    text-align: center;
}

.innercontainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.label {
    font-size: 12px;
}

p{
    font-size: 13px;
}

.savebutton {
    width: 100%;
    margin-top: 15px;
    height: 35px;
    background-color: #6741D9;
    border: 1px solid #6741D9;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}

.savebutton:hover {
    background-color: #F0C3F1;
    border: 1px solid #F0C3F1;
}

.savebutton:disabled {
    background-color: #978497;
    border: 1px solid #968d96;
    cursor:auto;
}